.stApp {
    margin-top: -3rem;
    padding-top: 0px; /* Adjust as needed, or set to 0 for no margin */
}

.mylink {
    font-size: 20px;
}
.mylink a {
    font-size: 20px;
    color: #92d0e5; 
}
.mylink a:hover {
    color: #d7e5ea /* Optional: hover color */
}



.custom-text {
    padding: 30px;
    margin: 5px;
    background-color: #262730;
    color: #e6e2f1;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
}

.custom-text2 {
    padding: 30px;
    margin: 5px;
    background-color: #262730;
    color: #e6e2f1;
    font-size: 18px;
    border-radius: 10px;
}

.custom-text3 {
    padding: 15px;
    margin: 10px;
    background-color: #262730;
    color: #e6e2f1;
    font-size: 16px;
    border-radius: 10px;
}

/* Szoveg dobozok */
.detect-text {
    padding: 15px;
    margin: 10px;
    background-color: #362930;
    color: #e6e2f1;
    font-size: 18px;
    border-radius: 8px;
}


.detect-text-negativ {
    padding: 15px;
    margin: 2px;
    background-color: #26322b;
    color: #e6e2f1;
    font-size: 22px;
    border-radius: 8px;
}

/* Gombok */

.st-key-kisgomb1 button,
.st-key-kisgomb2 button, 
.st-key-kisgomb3 button,
.st-key-kisgomb4 button {
    padding: 2px 20px;
    background-color: rgb(50, 77, 88);
    border: none;
}

.st-key-kisgomb1 button p,
.st-key-kisgomb2 button p,
.st-key-kisgomb3 button p, 
.st-key-kisgomb4 button p{
    color: #d8e8ee;
    font-size: 14px;
}

.st-key-kisgomb1 button:hover,
.st-key-kisgomb2 button:hover, 
.st-key-kisgomb3 button:hover{
    background-color: rgb(86, 128, 144); 
    border: none;
}


/* Masik kis gomb */
.st-key-kisgombn5 button,
.st-key-kisgombn6 button {
    padding: 2px 20px;
    background-color: rgb(46, 81, 67);
    border: none;
}
.st-key-kisgombn5 button:hover, 
.st-key-kisgombn6 button:hover{
    background-color: rgb(82, 136, 114);
    border: none;
}
.st-key-kisgombn5 button p, 
.st-key-kisgombn6 button p{
    color: #d8eeee;
    font-size: 14px;
}

/* Nagygomb */
.st-key-nagygomb button {
    padding: 20px 30px;
    background-color: rgb(36, 77, 90);
    border: none;
}
.st-key-nagygomb button p{
    color: #e5eef2;
    font-size: 18px;
}
.st-key-nagygomb button:hover {
    padding: 20px 30px;
    background-color: rgb(24, 53, 64);
    border: none;
}
