streamlit>=1.39.0
ultralytics          # YOLO (Ultralytics) for object detection
Pillow               # For handling images
matplotlib==3.8.0           # For custom bounding box plotting
pathlib==1.0.1              # For managing file paths (typically inc
#opencv-python==4.7.0.68     # (Optional) For better image handling and pre/post-processing
